.container{
  background: #121212;
}

.nav{
  display: grid;
  background: #000000;
  grid-template-columns: 8.75rem 1fr 8.75rem;
}

.nav__logo{
  display: flex;
  height: 3.75rem;
  width: 100%;
  user-select: none;
  cursor: pointer;
}

.nav__logo__img{
  width: 100%;
  object-fit: cover;
}

.nav__links{
  display: flex;
  justify-content: space-evenly;
}

.nav__links__link{
  display: flex;
  color: #f5f5f7;
  align-items: center;
  font-weight: 500;
  cursor: pointer;
}

.nav__links__link:hover{
  color: #9e8bd9;
  font-style: italic;
}

.nav__carrito{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.boton-carrito{
  position: relative;
  color: #f5f5f7;
  border: #f5f5f7 solid 2px;
  display: flex;
  padding: 4px;
  border-radius: 15px;
  align-items: end;
  gap: 1px;
  padding: 4px;
  margin: 4px;
  font-weight: 400;
  height: 2.75rem;
  max-height: 3.25rem;
  transition: all .2s ease-out;
}

.boton-carrito:hover{
  background: #9e8bd9;
  box-shadow:
  1px 1px 8px #9e8bd9,
  -1px 1px 8px #9e8bd9,
  1px -1px 8px #9e8bd9,
  -1px -1px 8px #9e8bd9;
}

.boton-carrito__container-image{
  max-height: 3.5rem;
}

.boton-carrito__container-image__circulo{
  position: relative;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #6A48D1;
  color: #f5f5f7;
  width: 1.9375rem;
  height: 1.5rem;
  left: 54%;
  top: 1rem;
}

.carrusel{
  position: relative;
  text-align: center;
  height: 100vh;
  width: 100%;
  margin: 4px 0 20px 0;
}

.carrusel__slider--2{
  display: none;
}

.carrusel__slider--3{
  display: none;
}

.carrusel__slider__image{
  height: 100%;
  width: 100%;
  filter: blur(2.5px);
  object-fit: cover;
}

.carrusel__slider__text{
  position: absolute;
  top: 50%;
  left: 50%;
  color: #f5f5f7;
  transform: translate(-50%, -50%);
  font-size: 3.5rem;
  font-weight: 700;
}

.carrusel--arrow-right{
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.carrusel--arrow-left{
  position: absolute;
  top: 50%;
  left: 95%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.eslogan{
  font-size: 84px;
  font-weight: 900;
  color: #F5F5F7;
  text-align: center;
  line-height: normal;
}
