* {
  padding: 0;
  margin: 0;
  font-family: 'REM', sans-serif;
  box-sizing: border-box;
}

::-moz-selection {
  background-color: #6A48D1;
  color: #F5F5F7;
}

::selection {
  background-color: #6A48D1;
  color: #F5F5F7;
}

a{
  text-decoration: none;
}

img,
picture,
video {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  scroll-behavior: smooth;
}
