.few-proucts{
  display: flex;
  flex-flow: column nowrap;
  margin: 40px 0 0 0;
  padding: 0 12px 32px 12px;
}

.card-few-products{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 24px;
  margin: 36px 0 28px 0;
}

.card-few-products__name{
  color: #F5F5F7;
  font-size: 40px;
  font-weight: 700;
}

.card-few-products__description{
  color: #F5F5F7;
  font-size: 24px;
  text-align: center;
  margin: 0 auto;
  width: 760px;
}

.card-few-products__price{
  display: flex;
  justify-content: center;
}

.card-few-products__price__price{
  color: #6A48D1;
  font-size: 28px;
  font-weight: 900;
}

.card-few-products__price__oldPrice{
  color: #808080;
  font-size: 20px;
  font-weight: 900;
  text-decoration: line-through;
  margin: 0 12px;
}

.card-few-products__container-image__img{
  height: 25rem;
  width: 40.5rem;
  min-height: 21.25rem;
  object-fit: cover;
}

.card-few-products__container-image__img--vertical{
  height: 680px;
  object-fit: cover;
  min-height: 560px;
  width: auto;
}

