doctype html
html(lang="es")
	head
		include includes/head.pug
		link(rel="stylesheet", href="/css/index.css")
	body.container#inicio
		include includes/mixins.pug
		include includes/nav.pug
		+buttonMode
		include includes/home/carrusel.pug
		h1.eslogan.text--change-color
			| El reino de la tecnologia  a tu alcance
		.line
		.productos
			+card("Computadoras", "/images/home/computer.jpg", "/html/laptop.html")
			+card("Laptops", "/images/home/computadora portatil.jpg", "/html/laptop.html")
			+card("Telefonos", "/images/home/phone.jpg", "/html/telefonos.html")
			+card("Tablets", "/images/home/tablet.jpg", "Tablet")
			+card("Relojes", "/images/home/Reloj.jpg", "Reloj")
			+card("Accesorios", "/images/home/audifonos.jpg", "Audifonos")
			+card("Intrumentos de cuerda", "/images/home/guitar2.jpg", "/html/instrumentosDeCuerda.html")
			+card("Intrumentos de viento", "/images/home/flautas.jpg", "/html/viento.html")
		.line
		include includes/footerButton.pug
		script(src="/js/carrusel.js")
		script(src="/js/mode.js")
