doctype html
html(lang="es")
  head
    include includes/head.pug
      link(rel="stylesheet", href="css/reset.css")
      link(rel="stylesheet", href="css/index.css")
      link(rel="icon", href="images/Kingdom Technology.jpeg")
      title Empresa
  body
    include includes/nav.pug
    div.content
      include includes/carrusel.pug
