.carrusel
  a(href="/html/popular.html").carrusel__slider--1.carrusel__slider
    img(src="/images/home/laptop-2.jpg", alt="Laptop con fondo negro", load="lazy").carrusel__slider__image
    p.carrusel__slider__text
      | Productos populares esta temporada
  a(href="/html/accesoriosVideojuegos.html").carrusel__slider--2.carrusel__slider.carrusel__slider--sombreado
    img(src="/images/home/mandos presentation.jpg", alt="Mandos", load="lazy").carrusel__slider__image
    p.carrusel__slider__text
      | Esenciales para videojuegos
  a(href="/html/ofertas.html").carrusel__slider--3.carrusel__slider.carrusel__slider--sombreado
    img(src="/images/home/cart_shopping-2.jpg", alt="cart shopping", load="lazy").carrusel__slider__image
    p.carrusel__slider__text
      | Ofertas y promociones
  img(src="/svg/arrowRight.svg", alt="Arrow Right", class="carrusel--arrow-right | carrusel__arrow")
  img(src="/svg/arrowLeft.svg", alt="Arrow Left", class="carrusel--arrow-left | carrusel__arrow")
