block carrusel
  div.carrusel
    div.carrusel__slider--1.carrusel__slider
      img(src="images/home/laptop-2.jpg", alt="Laptop", load="lazy").carrusel__slider__image
      p.carrusel__slider__text
        | Productos populares esta temporada
    div.carrusel__slider--2.carrusel__slider
      img(src="images/home/mandos presentation.jpg", alt="Mandos", load="lazy").carrusel__slider__image
      p.carrusel__slider__text
        | Esenciales para videojuegos
    div.carrusel__slider--3.carrusel__slider
      img(src="images/home/cart_shopping-2.jpg", alt="cart shopping", load="lazy").carrusel__slider__image
      p.carrusel__slider__text
        | Ofertas y promociones
    <svg xmlns="http://www.w3.org/2000/svg" width="61" height="110" viewBox="0 0 61 110" fill="none" class="carrusel--arrow-right | carrusel__arrow">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M53.3198 11.3003C52.4408 10.4654 51.2747 10 50.0624 10C48.8501 10 47.6841 10.4654 46.805 11.3003L8.69971 48.075C7.84674 48.8856 7.16755 49.8613 6.70344 50.9426C6.23933 52.0239 6 53.1884 6 54.3651C6 55.5418 6.23933 56.7062 6.70344 57.7876C7.16755 58.8689 7.84674 59.8445 8.69971 60.6552L47.0809 97.7014C48.8609 99.4146 51.7445 99.4369 53.5512 97.7459C53.9886 97.343 54.3386 96.8545 54.5793 96.3108C54.82 95.767 54.9464 95.1796 54.9505 94.5849C54.9547 93.9903 54.8366 93.4011 54.6035 92.854C54.3705 92.3069 54.0274 91.8136 53.5957 91.4046L18.4719 57.509C18.0451 57.1037 17.7052 56.6157 17.4729 56.0748C17.2407 55.534 17.1209 54.9515 17.1209 54.3629C17.1209 53.7742 17.2407 53.1917 17.4729 52.6509C17.7052 52.11 18.0451 51.6221 18.4719 51.2167L53.3154 17.5881C53.7421 17.1831 54.0819 16.6956 54.3141 16.1551C54.5463 15.6146 54.6661 15.0324 54.6661 14.4442C54.6661 13.8559 54.5463 13.2738 54.3141 12.7333C54.0819 12.1928 53.7465 11.7052 53.3198 11.3003Z" fill="#50369E"/>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" width="61" height="110" viewBox="0 0 61 110" fill="none" class="carrusel--arrow-left | carrusel__arrow">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M1.63098 97.6984C3.4332 99.4339 6.3479 99.4339 8.14567 97.6984L46.2503 60.9255C47.1033 60.1149 47.7825 59.1393 48.2466 58.058C48.7107 56.9768 48.95 55.8124 48.95 54.6357C48.95 53.4591 48.7107 52.2947 48.2466 51.2134C47.7825 50.1322 47.1033 49.1566 46.2503 48.346L7.86977 11.3016C6.99871 10.4737 5.84519 10.0084 4.64348 10.0001C3.44176 9.99185 2.28195 10.4413 1.39959 11.2571C0.962479 11.66 0.612735 12.1483 0.372014 12.6918C0.131292 13.2354 0.00471812 13.8225 0.000129405 14.417C-0.00445931 15.0114 0.113035 15.6004 0.345337 16.1476C0.577639 16.6948 0.919802 17.1884 1.35064 17.598L36.4783 51.492C36.9051 51.8973 37.245 52.3852 37.4773 52.9261C37.7095 53.4669 37.8293 54.0494 37.8293 54.638C37.8293 55.2266 37.7095 55.809 37.4773 56.3499C37.245 56.8907 36.9051 57.3786 36.4783 57.784L1.63098 91.4109C1.20428 91.8158 0.864477 92.3034 0.632269 92.8439C0.400061 93.3843 0.280311 93.9664 0.280311 94.5547C0.280311 95.1429 0.400061 95.725 0.632269 96.2655C0.864477 96.806 1.20428 97.2935 1.63098 97.6984Z" fill="#50369E"/>
    </svg>
