doctype html
html(lang="es")
  head
    include ../includes/head.pug
    link(rel="stylesheet", href="/css/index.css")
    link(rel="stylesheet", href="/css/shoppingCart.css")
    link(rel="stylesheet", href="/css/seccionProductos.css")
  body.container#inicio
    include ../includes/mixins.pug
    include ../includes/nav.pug
    +buttonMode
    +nameSeccion("Artículos esenciales para los videojuegos")
    .productos
      +producto("Nintendo Switch Lite", "/images/accesoriosVideojuegos/nintendo switch lite.jpg", "", "170.90")
      +producto("DualShock 4", "/images/accesoriosVideojuegos/dualshock 4.jpg", "", "59.99")
      +producto("Xbox Wireless Headset", "/images/accesoriosVideojuegos/xbox audifonos.jpg", "", "94.99", "99.99")
      +producto("Turtle Beach Stealth 600", "/images/accesoriosVideojuegos/auriculares.jpg", "", "84.95", "99.99")
      +producto("PlayStation VR2", "/images/accesoriosVideojuegos/vr.jpeg", "", "549.00")
      +producto("PowerA control inalámbrico para Nintendo Switch - Super Mario Bros", "/images/accesoriosVideojuegos/powerA.jpg", "", "39.99", "44.99")
      +producto("HORI Fighting Commander OCTA", "/images/accesoriosVideojuegos/hori fighting.jpg", "", "55.95", "59.99")
      +producto("Stream Deck Pedal", "/images/accesoriosVideojuegos/stream deck pedal.png", "", "69.99", "89.99")
      +producto("Corsair TC200", "/images/accesoriosVideojuegos/corsair tc200.jpg", "", "429.95")
    include ../includes/footerButton.pug
    script(src="/js/mode.js")
    script(src="/js/changeClases.js")
