doctype html
html(lang="es")
  head
    include ../includes/head.pug
    link(rel="stylesheet", href="/css/seccionProductos.css")
    link(rel="stylesheet", href="/css/index.css")
    link(rel="stylesheet", href="/css/shoppingCart.css")
  body.container#inicio
    include ../includes/mixins.pug
    include ../includes/nav.pug
    +buttonMode
    +nameSeccion("Accesorios")
    .productos
      +producto("Teclados", "/images/accesorios/teclado.png", "/html/teclados.html")
      +producto("Mouses", "/images/accesorios/mouse.png", "/html/mouses.html")
      +producto("Audifonos", "/images/accesorios/audifonos.jpg", "/html/audifonos.html")
      +producto("Impresoras", "/images/accesorios/impresora.png", "/html/impresoras.html")
      +producto("Bocinas", "/images/accesorios/bocina.png", "/html/bocinas.html")
    include ../includes/footerButton.pug
    script(src="/js/mode.js")
    script(src="/js/changeClases.js")
