doctype html
html(lang="es")
  head
    include ../includes/head.pug
    link(rel="stylesheet", href="/css/index.css")
    link(rel="stylesheet", href="/css/shoppingCart.css")
    link(rel="stylesheet", href="/css/seccionProductos.css")
  body.container#inicio
    include ../includes/mixins.pug
    include ../includes/nav.pug
    +buttonMode
    +nameSeccion("Audifonos")
    .productos
      +producto("Sony Linkbuds S", "/images/audifonos/s.jpg", "XPS 13 Plus", "148.00", "199.99")
      +producto("Bose Sports Earbuds", "/images/audifonos/sport.jpg", "XPS 13", "109.99")
      +producto("Beat Fit Pro", "/images/audifonos/audifonos.jpg", "XPS 15", "188.95", "228.95")
      +producto("Galaxy Buds 2 Pro", "/images/audifonos/auriculares.jpg", "XPS 15", "125.53", "200.00")
      +producto("AirPods Pro 2", "/images/audifonos/airpods.jpg", "XPS 15", "279.00")
      +producto("Sony WF-1000XM4", "/images/audifonos/sony.png", "XPS 15", "193.00", "278.00")
      +producto("QCY T13", "/images/audifonos/T13.jpeg", "XPS 15", "29.99")
      +producto("Sony WH-CH520", "/images/audifonos/auriculares negros.jpg", "XPS 15", "58.00")
      +producto("Soundcore Anker Q30", "/images/audifonos/audifonos negros.jpg", "XPS 15", "79.19")
      +producto("Final UX3000", "/images/audifonos/UX3000.jpg", "XPS 15", "148.90")
      +producto("Bose Noise Cancelling Headphones 700", "/images/audifonos/boise.jpg", "XPS 15", "266.92")
      +producto("Sony WH-1000XM5 ", "/images/audifonos/wh.jpg", "XPS 15", "354.22")
      +producto("Xbox Wireless Headset", "/images/accesoriosVideojuegos/xbox audifonos.jpg", "XPS 13 Plus", "94.99", "99.99")
      +producto("Turtle Beach Stealth 600", "/images/accesoriosVideojuegos/auriculares.jpg", "XPS 13 Plus", "84.95", "99.99")
    include ../includes/footerButton.pug
    script(src="/js/mode.js")
    script(src="/js/changeClases.js")
