doctype html
html(lang="es")
  head
    include ../includes/head.pug
    link(rel="stylesheet", href="/css/index.css")
    link(rel="stylesheet", href="/css/shoppingCart.css")
    link(rel="stylesheet", href="/css/seccionProductos.css")
  body.container#inicio
    include ../includes/mixins.pug
    include ../includes/nav.pug
    +buttonMode
    +nameSeccion("Bocinas")
    .productos
      +producto("Halo 100", "/images/bocinas/halo 100.jpg", "XPS 13 Plus", "110.90", "126.05")
      +producto("Bang SE", "/images/bocinas/bang se.jpg", "XPS 13 Plus", "65.55", "100.80")
      +producto("LG XBOOM Go PL7", "/images/bocinas/lg boom2.jpg", "XPS 13 Plus", "96.99", "129.99")
      +producto("JBL Charge 5", "/images/bocinas/jbl charge.png", "XPS 13 Plus", "139.95", "179.95")
      +producto("Bose SoundLink Flex", "/images/bocinas/soundLink.png", "XPS 13 Plus", "129.00", "149.00")
    include ../includes/footerButton.pug
    script(src="/js/mode.js")
    script(src="/js/changeClases.js")
