doctype html
html(lang="es")
  head
    include ../includes/head.pug
    link(rel="stylesheet", href="/css/index.css")
    link(rel="stylesheet", href="/css/shoppingCart.css")
    link(rel="stylesheet", href="/css/seccionProductos.css")
  body.container#inicio
    include ../includes/mixins.pug
    include ../includes/nav.pug
    +buttonMode
    +nameSeccion("impresoras")
    .productos
      +producto("Brother DCP-T510W", "/images/impresoras/dcp.png", "XPS 13 Plus", "199.99")
      +producto("Epson Workforce Pro WF-3823", "/images/impresoras/impresora.jpg", "XPS 13 Plus", "95.99")
      +producto("Expression ET2700", "/images/impresoras/expression.jpg", "XPS 13 Plus", "249.00")
      +producto("Canon PIXMA TS5350", "/images/impresoras/pixma.png", "XPS 13 Plus", "65.10")
      +producto("HP Envy Inspire 7920e", "/images/impresoras/envy.jpg", "XPS 13 Plus", "143.25", "176.35")
      +producto("Epson EcoTank ET-2826", "/images/impresoras/ecotank.jpg", "XPS 13 Plus", "242.60", "272.35")
      +producto("Brother MFC-J6540DW", "/images/impresoras/brother.jpg", "XPS 13 Plus", "274.55", "282.30")
    include ../includes/footerButton.pug
    script(src="/js/mode.js")
    script(src="/js/changeClases.js")
