html(lang="es")
  head
    include ../includes/head.pug
    link(rel="stylesheet", href="/css/seccionProductos.css")
    link(rel="stylesheet", href="/css/index.css")
    link(rel="stylesheet", href="/css/shoppingCart.css")
  body.container#inicio
    include ../includes/mixins.pug
    include ../includes/nav.pug
    +buttonMode
    +nameSeccion("Mouses")
    .productos
      +producto("Logitech G203 LIGHTSYNC", "/images/mouses/logitech.jpeg", "", "23.75", "39.99")
      +producto("Steelseries Rival 3", "/images/mouses/rival 3.jpg", "", "27.25", "29.99")
      +producto("Glorious Model D", "/images/mouses/model d.png", "", "73.10")
      +producto("Logitech G305 LIGHTSPEED", "/images/mouses/g305.jpg", "", "38.40")
    include ../includes/footerButton.pug
    script(src="/js/mode.js")
    script(src="/js/changeClases.js")
