doctype html
html(lang="es")
  head
    include ../includes/head.pug
    link(rel="stylesheet", href="/css/index.css")
    link(rel="stylesheet", href="/css/shoppingCart.css")
    link(rel="stylesheet", href="/css/seccionProductos.css")
  body.container#inicio
    include ../includes/mixins.pug
    include ../includes/nav.pug
    +buttonMode
    +nameSeccion("Ofertas y promociones")
    .few-products
      +cardFewProductsVertical("OnePlus 11", "La forma del poder.", "740.70", "/images/popular/oneplus 11.png", "Xiaomi 13 Ultra", "987.60")
    .line
    .productos
      +producto("Amazfit GTR 2", "/images/relojes/amazfit.jpg", "", "98.80", "201.65")
      +producto("XPS 13 Plus", "/images/dell/xps_13_plus.jpg", "", "1,299.00", "1,499.00")
      +producto("Latitude 3440", "/images/dell/latitude_3040.jpg", "", "709.00", "1,185.05")
      +producto("Razer Huntsman Mini", "/images/teclados/razor gaming.jpg", "", "89.99", "129.99")
      +producto("Razer Huntsman Tournament Edition V2", "/images/teclados/tournament.jpeg", "", "136.99", "149.99")
      +producto("Sony Linkbuds S", "/images/audifonos/s.jpg", "", "148.00", "199.99")
      +producto("Beat Fit Pro", "/images/audifonos/audifonos.jpg", "", "188.95", "228.95")
      +producto("Galaxy Buds 2 Pro", "/images/audifonos/auriculares.jpg", "", "125.53", "200.00")
      +producto("Epson EcoTank ET-2826", "/images/impresoras/ecotank.jpg", "", "242.60", "272.35")
      +producto("Bang SE", "/images/bocinas/bang se.jpg", "", "65.55", "100.80")
      +producto("JBL Charge 5", "/images/bocinas/jbl charge.png", "", "139.95", "179.95")
    include ../includes/footerButton.pug
    script(src="/js/mode.js")
    script(src="/js/changeClases.js")
