doctype html
html(lang="es")
  head
    include ../includes/head.pug
    link(rel="stylesheet", href="/css/seccionProductos.css")
    link(rel="stylesheet", href="/css/index.css")
    link(rel="stylesheet", href="/css/shoppingCart.css")
  body.container#inicio
    include ../includes/mixins.pug
    include ../includes/nav.pug
    +buttonMode
    +nameSeccion("Relojes")
    .productos
      +producto("Apple Watch Ultra", "/images/relojes/watch ultra.jpg", "", "799.00")
      +producto("Casio F91W-1", "/images/relojes/casio.jpg", "", "16.90", "22.95")
      +producto("Apple Watch Series 8", "/images/relojes/apple watch series 8.jpg", "", "399.00")
      +producto("Apple Watch SE", "/images/relojes/apple watch SE.jpg", "", "249.00")
      +producto("F-108WH-1ACF", "/images/relojes/casio2.jpg", "", "16.90", "22.95")
      +producto("Amazfit GTR 2", "/images/relojes/amazfit.jpg", "", "98.80", "201.65")
    include ../includes/footerButton.pug
    script(src="/js/mode.js")
    script(src="/js/changeClases.js")
