doctype html
html(lang="es")
  head
    include ../includes/head.pug
    link(rel="stylesheet", href="/css/seccionProductos.css")
    link(rel="stylesheet", href="/css/index.css")
    link(rel="stylesheet", href="/css/shoppingCart.css")
  body.container#inicio
    include ../includes/mixins.pug
    include ../includes/nav.pug
    +buttonMode
    +nameSeccion("Teclados")
    .productos
      +producto("Ozone Gaming Mini", "/images/teclados/ozone gaming mini.png", "", "47.30")
      +producto("Razer Huntsman Mini", "/images/teclados/razor gaming.jpg", "", "89.99", "129.99")
      +producto("Redragon Fizz Pro", "/images/teclados/fizz.jpeg", "", "41.99", "49.98")
      +producto("Redragon Horus", "/images/teclados/horus.png", "", "64.99")
      +producto("Dareu A87 Pro", "/images/teclados/teclado.jpg", "", "197.79")
      +producto("Epomaker SK61", "/images/teclados/keyboard.jpg", "", "44.99")
      +producto("Ducky One 2 Mini", "/images/teclados/mini.jpg", "", "109.99")
      +producto("Drevo BladeMaster TE", "/images/teclados/master.jpg", "", "44.99")
      +producto("Razer Huntsman Tournament Edition V2", "/images/teclados/tournament.jpeg", "", "136.99", "149.99")
    include ../includes/footerButton.pug
    script(src="/js/mode.js")
    script(src="/js/changeClases.js")
