doctype html
html(lang="en")
  head
    include ../includes/head.pug
    link(rel="stylesheet", href="/css/seccionProductos.css")
    link(rel="stylesheet", href="/css/index.css")
    link(rel="stylesheet", href="/css/shoppingCart.css")
  body.container#inicio
    include ../includes/mixins.pug
    include ../includes/nav.pug
    +buttonMode
    +nameSeccion("Xiaomis")
    .few-products
      +cardFewProductsVertical("Xiaomi 13 Ultra", "Excelencia sin límites.", "1320.95", "/images/xiaomis/13 ultra.png", "Xiaomi 13 Ultra", "1651.20")
      +cardFewProductsVertical("Xiaomi 13 Pro", "Nuestra obra maestra", "1320.95", "/images/xiaomis/13_pro.png", "Xiamoi 13 pro", "1541.15")
      +cardFewProductsVertical("Xiaomi 13 Lite", "Donde la identidad Lite se fusiona con las características flagship", "440.15", "/images/xiaomis/lite.png", "Xiaomi 13 Lite")
      +cardFewProductsVertical("Xiaomi 13", "Observa tu próxima obra maestra desde el otro lado de la lente con la serie Xiaomi 13", "968.35", "/images/xiaomis/13.png", "Xiaomi 13")
      +cardFewProductsVertical("Xiaomi 12T", "Momentos a otro nivel", "605.25", "/images/xiaomis/xiaomi 12t.png", "Xiaomi 12T", "715.25")
    include ../includes/footerButton.pug
    script(src="/js/mode.js")

