.nav
  .nav__logo
    a(href="/").nav__logo__container-image
      img(src="/images/Kingdom Technology.jpeg", alt="Logo").nav__logo__container-image__img
  .nav__links
    .dropdown
      h3.dropdown__item Teléfonos
      .dropdown__menu
        ul.dropdown__menu__list
          li.dropdown__menu__list__item
            a(href="/html/iPhone.html").dropdown__menu__list__item__link iPhone
          li.dropdown__menu__list__item
            a(href="/html/xiaomis.html").dropdown__menu__list__item__link Xiaomi
          li.dropdown__menu__list__item
            a(href="/html/googlePixel.html").dropdown__menu__list__item__link Google Pixel
    .dropdown
      h3.dropdown__item Laptops
      .dropdown__menu
        ul.dropdown__menu__list
          li.dropdown__menu__list__item
            a(href="/html/macbooks.html").dropdown__menu__list__item__link Mac
          li.dropdown__menu__list__item
            a(href="#inicio").dropdown__menu__list__item__link Lenovo
          li.dropdown__menu__list__item
            a(href="#inicio").dropdown__menu__list__item__link Dell
          li.dropdown__menu__list__item
            a(href="#inicio").dropdown__menu__list__item__link Acer
    .dropdown
      h3.dropdown__item Accesorios
      .dropdown__menu
        ul.dropdown__menu__list
          li.dropdown__menu__list__item
            a(href="#inicio").dropdown__menu__list__item__link Teclados
          li.dropdown__menu__list__item
            a(href="#inicio").dropdown__menu__list__item__link Audífonos
          li.dropdown__menu__list__item
            a(href="#inicio").dropdown__menu__list__item__link Mouse pad
          li
            a(href="").dropdown__menu__list__item__link Impresoras
          li
            a(href="").dropdown__menu__list__item__link Bocinas
    .dropdown
      h3.dropdown__item Instrumentos
      .dropdown__menu
        ul.dropdown__menu__list
          li.dropdown__menu__list__item
            a(href="#inicio").dropdown__menu__list__item__link Instrumentos de cuerda
          li.dropdown__menu__list__item
            a(href="#inicio").dropdown__menu__list__item__link Instrumentos de viento
  .nav__carrito
    a(href="/html/shoppingCart.html").boton-carrito
      .boton-carrito__container-image
        .boton-carrito__container-image__circulo 0
        img(src="/svg/carrito.svg", alt="Carrito")
      p Carrito
